Import Pandas

In [1]:
import pandas as pd

Pandas Version

In [2]:
pd.__version__

'1.5.2'

In [3]:
# import numpy as well for some usage 
import numpy as np

Pandas Series Object

A Pandas Series is a one-dimensional array of indexed data. It can be created from a list or array as follows:

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [7]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data[1]

0.5

In [9]:
data[1:3]

1    0.50
2    0.75
dtype: float64

Series as generalized NumPy array

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd']) #charecter type index
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [15]:
data['b']

0.5

In [16]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [17]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = [2, 5, 3,7]) #non-sequential index
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [18]:
data[5]

0.5

Series as specialized dictionary

In [20]:
population_dict = {'California': 38332521, 
                    'Texas': 26448193, 
                    'New York': 19651127, 
                    'Florida': 19552860, 
                    'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [21]:
# typical dictionary-style item access can be performed
population['California']

38332521

In [23]:
# Unlike a dictionary, though, the Series also supports array-style operations such as slicing
population['California':'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

Constructing Series objects

In [24]:
# From a list or array, in which index defaults to an integer sequence
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [25]:
# From a scalar data, which is repeated to fill the specified index
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [26]:
# From a dictionary, in which index defaults to the sorted dictionary keys
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [27]:
# Here, the Series is populated only with the explicitly identified keys.
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

Pandas DataFrame Object

Series is an analog of a one-dimensional array with flexible indices, 
DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names.
Like Series object, DataFrame can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.

DataFrame as a generalized NumPy array

In [28]:
# Create another series with same index as population series
area_dict = {'California': 423967,
            'Texas': 695662,
            'New York': 141297,
            'Florida': 170312,
            'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [29]:
# By combining two Series, create the a DataFrame
states = pd.DataFrame({'population': population,
                        'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [30]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [31]:
states.columns

Index(['population', 'area'], dtype='object')

In [32]:
# return the area of 'Texas'
states['area']['Texas']

695662

In [33]:
# return the population of 'Texas'
states['population']['Texas']

26448193

DataFrame as specialized dictionary

In [34]:
# 'area' attribute (column name) returns the Series object containing the areas
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Constructing DataFrame objects

In [35]:
# From a single Series object
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [38]:
# From a list of dictionaries
data = [{'a': i, 'b': 2 * i} for i in range(3)] # list comprehension
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [39]:
#If some keys in the dictionary are missing, Pandas will fill them in with NaN (i.e., "not a number") values.
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [40]:
# From a dictionary of Series objects
pd.DataFrame({'population': population,
                'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [41]:
#From a two-dimensional NumPy array
pd.DataFrame(np.random.rand(3, 2),
                columns=['foo', 'bar'],
                index=['a', 'b', 'c'])

        foo       bar
a  0.199164  0.159157
b  0.492515  0.214920
c  0.949774  0.746808

In [42]:
# Note that, if `columns` or `index` is omitted, an integer index will be used for each.
pd.DataFrame(np.random.rand(3, 2))

          0         1
0  0.515285  0.041286
1  0.284592  0.601759
2  0.308871  0.699800

Pandas Index Object

In [43]:
# let's construct an Index from a list of integers:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

Index as immutable array

In [44]:
ind[1] # Python indexing notation to retrieve values

3

In [45]:
ind[::2] # Python indexing notation for slicing

Int64Index([2, 5, 11], dtype='int64')

In [46]:
# Index objects also have many of the attributes familiar from NumPy arrays:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [47]:
ind[1] = 0 # tring to modiy but generates error

TypeError: Index does not support mutable operations

Index as ordered set

In [48]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [49]:
indA.intersection(indB) # intersection

Int64Index([3, 5, 7], dtype='int64')

In [50]:
indA.union(indB) # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [51]:
indA.symmetric_difference(indB) # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')